body{width:1000px; background-color:lightgrey}

h1{color:black;font-family:"Verdana"}

h2{color:white;font-family:"Arial"}

p{color:white;font-family:"verdana"}

div{color:red;font-family:"verdana"}

a{color:white;font-family:"verdana"}

*{text-align:center;}

images{float:right;margin:1px;}